<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student-list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="std-list-container">
    <h1>Student-list</h1>
    <form th:action="@{/equipments}" method="get">
        <input placeholder="Search by name" type="text" name="keyword">
        <button type="submit">Search</button>
    </form>

    <a th:href="@{/equipments/add}">Add new student</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>EquipmentType</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="e : ${equipments}">
            <td th:text = "${e.equipmentId}"></td>
            <td th:text = "${e.equipmentName}"></td>
            <td th:text = "${e.equipmentType.getTypeName()}"></td>
            <td th:text = "${e.purchasePrice}"></td>
            <td th:text = "${e.quantityAvailable}"></td>
            <td >
                <a th:href="@{'/equipments/edit/' + ${e.equipmentId}}">Edit</a>
                <a th:href="@{'/equipments/delete/' + ${e.equipmentId}}" onclick="confirm('Are you sure you want to delete this object?')"> | Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>